<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous"
        >
    </head>
    <body>
    <div class="container-fluid">
        {% block nav %}
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
                <a class="nav-link{{ app.request.get('_route') == 'home' ? ' active' : '' }}" href="{{ path('home') }}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link{{ app.request.get('_route') == 'contacts' ? ' active' : '' }}" href="{{ path('contacts') }}">Contacts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link{{ app.request.get('_route') == 'catalog_index' ? ' active' : '' }}" href="{{ path('catalog_index') }}">Catalog</a>
            </li>
        </ul>
        {% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </div>
    </body>
</html>
