{% extends 'base.html.twig' %}

{% block title %}Hello CatalogController!{% endblock %}

{% block body %}
    <h1>Catalog!</h1>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th><a href="{{ path('catalog_index', {'sort': 'name'}) }}">Название</a></th>
            <th><a href="{{ path('catalog_index', {'sort': 'price'}) }}">Цена</a></th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <th><a href="{{ path('catalog_product_show', {'id': product.id}) }}">{{ product.name }}</a></th>
                <th>{{ product.price }}</th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block nav %}
    <ul class="nav nav-pills nav-fill border">
        <li class="nav-item">
            <a class="nav-link{{ app.request.get('_route') == 'home' ? ' active' : '' }}" href="{{ path('home') }}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link{{ app.request.get('_route') == 'contacts' ? ' active' : '' }}" href="{{ path('contacts') }}">Contacts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link{{ app.request.get('_route') == 'catalog' ? ' active' : '' }}" href="{{ path('catalog_index') }}">Catalog*</a>
        </li>
    </ul>
{% endblock %}
